<div class="panel panel-default">
  <div class="panel-heading">{{name}}</div>
  <table class="table">
    <tr>
      <td>Username</td>
      <td>{{username}}</td>
    </tr>
    <tr>
      <td>Password</td>
      <td>{{password}}</td>
    </tr>
  </table>
</div>

<button id="identity_delete" type="button" class="btn btn-danger">Delete</button>
