<div class="form-group">
  <label class="control-label" for="login-master-password">Master password</label>
  <div class="input-group">
    <input id="login-master-password" type="password" class="form-control" placeholder="Enter master password" />
    <span class="input-group-btn">
      <button id="login-submit" class="btn btn-default" type="button">Enter</button>
    </span>
  </div>
  <div id="login_progress_bar"></div>
</div>
