<div class="panel panel-default">
  <div class="panel-heading">Login</div>
  <div>
    <span id="login-error" class="label label-danger" style="display: none">Wrong password</span>
    <input id="login-master-password" type="text" class="form-control" placeholder="Master password" />
  </div>
  <div>
    <input id="login-submit" type="submit" class="btn btn-primary" />
  </div>
</div>
