<<<<<<< HEAD
<div id="new_identity_form">
<div>
  <input id="new_identity_name" type="text" class="form-control" placeholder="Identity Name" />
</div>
<div>
  <input id="new_identity_username" type="text" class="form-control" placeholder="Username" />
</div>
<div>
  <input id="new_identity_password" type="text" class="form-control" placeholder="Password" />
  <div id="password_strength_bar"></div>
</div>
<div>
  <button id="new_identity_save" class="btn btn-primary">Save</button>
</div>
=======
<center><h3>New service</h3></center>

<div class="form-horizontal">
  <div class="form-group">
    <label for="new_identity_name" class="col-sm-3 control-label">Service Name</label>
    <div class="col-sm-9">
      <input id="new_identity_name" type="text" class="form-control" placeholder="Enter the name of this service" />
    </div>
  </div>
  <div class="form-group">
    <label for="new_identity_username" class="col-sm-3 control-label">Username</label>
    <div class="col-sm-9">
      <input id="new_identity_username" type="text" class="form-control" placeholder="Enter your username for this service" />
    </div>
  </div>
  <div class="form-group">
    <label for="new_identity_password" class="col-sm-3 control-label">Password</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input id="new_identity_password" type="text" class="form-control" placeholder="Enter your password for this service" />
        <span class="input-group-btn">
          <button id="new_identity_generate_pass" class="btn btn-default" type="button">Generate</button>
        </span>
      </div>
      <div id="password_strength_bar"></div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <input id="new_identity_save" type="submit" class="btn btn-primary" />
    </div>
  </div>
</div>
>>>>>>> 9cb547a019f9c2681e768f41a07e0ce7e9773a78
