<div class="progress">
  <div class="progress-bar {{progress_bar_class}}" role="progressbar" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%;">
    {{message}}
  </div>
</div>
